############
## C++
############
# Compiled object files
*.o

############
## Qt
############

# Generated MOC, resource and UI files
moc_*.cpp
qrc_*.cpp
ui_*.h

# Debug and Release directories
debug/
release/

# Makefiles
Makefile
Makefile.*

# User file
*.pro.user

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## My
############

qextserialport/
qextserialport-1.2rc/